:root {
  --primary-pink: hsl(322, 100%, 66%);
  --primary-light-pink: hsl(321, 100%, 78%);
  --primary-light-red: hsl(0, 100%, 63%);
  --neutral-dark-cyan: hsl(192, 100%, 9%);
  --neutral-pale-blue: hsl(207, 100%, 98%);
  --wave-background: hsl(207, 100%, 98%);
  --text-color: gray;
  --font-light: 400;
  --font-medium: 600;
  --font-heavy: 700;
}
html{
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-heavy);
  font-size: xx-large;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-weight: var(--font-light);
  margin: 30px;
  align-items: center;
}

nav > :first-child {
  width: 150px;
  height: auto;
}

button {
  padding: 5px;
  border: 2px solid var(--primary-pink);
  border-radius: 60px;
}

nav > button {
  background-color: transparent;
  color: var(--primary-pink);
  width: 100px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 100px 0;
  text-align: center;
}

header > p {
  width: 470px;
  text-align: center;
}

.btn {
  background-color: var(--primary-pink);
  color: var(--neutral-pale-blue);
  width: 300px;
  height: 50px;
  padding: 10px;
  font-weight: var(--font-medium);
}

header > * {
  margin: 15px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

main > img {
  width: 70%;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
  padding: 50px;
  width: 80%;
  gap: 30px;
}

.stats span {
  font-weight: var(--font-heavy);
  font-size: 60px;
}

.stats p {
  color: var(--text-color);
  font-weight: bold;
}

.colored-icon path {
  stroke: var(--primary-pink);
}

.mini-container {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-areas: 
      "one"
      "two"
      "three";
  grid-row-gap: 10rem;
  align-items: center;
  text-align: start;
  margin-bottom: 200px;

}


.inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-around;
  column-gap: 100px;
  padding-left: 100px;
  padding-right: 100px;

}
/* the second row, swap the places of the inner grid cells */
.grid > div:nth-child(2) .inner-grid > div:nth-child(1) {
  order: 2;
}

.grid > div:nth-child(2) .inner-grid > div:nth-child(2) {
  order: 1;
}

main > p {
  font-size: 8px;
}

.inner-grid img {
  max-width: 80%;
}
.wave {
  margin-bottom: -15px;
  width: 100%;
  overflow: hidden;
}
.wave svg {
  position: relative;
  display: block;
  height: 262px;
  fill: hsl(240, 3%, 6%);
}

.grid .one,
.grid .three {
  background-color: var(--wave-background);
}

.btn-2 {
  width: 250px;
  margin-top: 25px;
}

.footer-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  padding: 80px;
  padding-bottom: 0;
  color: var(--neutral-pale-blue);
  position: relative;
  background-color: var(--neutral-dark-cyan);
  width:100%;
  box-sizing: border-box;
}

.footer-logo {
  width: 200px;
  height: 40px;
}

.footer-logo-svg {
  stroke: white;
  height: auto;
}

.socials img {
  width: 20px;
  height: 20px;
  padding: 10px;
  fill: white;
  stroke: white;
}

footer p {
  font-size: 12px;
  width: 70%;
}

.footer-one {
  padding-right: 100px;
}

.footer-two > span {
  font-size: 20px;
  font-weight: var(--font-heavy);
}

.sub {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: fit-content;
}

.sub button {
  border-radius: 5px;
  width: 25%;
  height: auto;
  
}

.sub textarea {
  border-radius: 5px;
  width: 70%;
  height: 100%;
}

.footer-wave {
  margin-bottom: -15px;
  width: 100%;
 overflow: hidden;
}

.footer-wave svg {
  position: relative;
  display: block;
  height: 262px;
  fill: hsl(240, 3%, 6%);
}

.grid-wave-up {
  margin-bottom: -15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  height: 262px;
}




/* mobile responsiveness */
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
  }
  nav {
    padding: 30px;
    margin: 10px;
  }
  nav > :first-child {
    width: 100px;
    height: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  header > p {
    width: 80%;
    text-align: center;
  }
  .grid {
    text-align: center;
    gap:50px;
   
  }

  .inner-grid {
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 50px; 
    padding: 0 30px; 
  }
    /* Mobile view: Swap the order of columns in the inner-grid */
    .grid > div:nth-child(1) .inner-grid > div:nth-child(1) {
      order: 2;
    }
    
    .grid > div:nth-child(1) .inner-grid > div:nth-child(2) {
      order: 1;
    }
    .grid > div:nth-child(3) .inner-grid > div:nth-child(1) {
      order: 2;
    }
    
    .grid > div:nth-child(3) .inner-grid > div:nth-child(2) {
      order: 1;
    }
 

  .footer-style {
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
    padding: 40px;
    text-align: start;
    color: var(--neutral-pale-blue);
    background-color: var(--neutral-dark-cyan);
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
  }
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 50px;
    width: 80%;
  }
  main > p {
    font-size: 12px; 
  }
  .footer-logo {
    width: 100px;
    height: 40px;
  }
  .sub {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    height: 100px;
    width: 100%;
  }
  footer p {
    font-size: 12px;
    width: 100%;
  }
  
  .footer-one {
    padding-right: 0px;
  }
  
  .footer-two > span {
    font-size: 20px;
    font-weight: var(--font-heavy);
  }
  .sub textarea {
    height: 40px;
    width: 100%;
    
  }
  .sub button {
    align-self: flex-end;
    width: 40%;
  }
  .footer-wave img {
    content: url('./images/bg-footer-top-mobile.svg');
    width: 100%;
  }
  .grid .wave-1{
    content: url('./images/bg-section-top-desktop-1.svg');
    width: 100%;
  }
  .grid .wave-2{
    content: url('./images/bg-section-bottom-desktop-1.svg');
    width: 100%;
  }
  .grid .wave-3{
    content: url('./images/bg-section-top-desktop-2.svg');
    width: 100%;
  }
  .grid .wave-4{
    content: url('./images/bg-section-bottom-desktop-2.svg');
    width: 100%;
  }
}
